name: Build and Sync React App to S3

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: tasky
        run: npm install

      - name: Build Vite App
        working-directory: tasky
        run: npm run build

      - name: Sync build to S3
        uses: dmolik/sync-s3-action@v0.1.0
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: react-deploy-bucket
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-west-1
          SOURCE_DIR: tasky/dist

